In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt

from surprise import Dataset, Reader, accuracy
from surprise.model_selection import cross_validate, train_test_split, GridSearchCV
from surprise.prediction_algorithms import SVD, SVDpp, NMF, BaselineOnly, NormalPredictor

%matplotlib inline

In [2]:
!ls Data

reviews_Beauty_5.json.gz

In [3]:
df = pd.read_json("Data/reviews_Beauty_5.json.gz",lines=True)

In [133]:
df[df["summary"]==" "]

Empty DataFrame
Columns: [reviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixReviewTime, reviewTime]
Index: []

In [5]:
df.isna().sum()

reviewerID           0
asin                 0
reviewerName      1386
helpful              0
reviewText           0
overall              0
summary              0
unixReviewTime       0
reviewTime           0
dtype: int64

In [6]:
#1386 reviewerNames left blank; we will not need reviewerName since utilizing reviewerID but 
#curious why

In [7]:
df[df['reviewerName'].isnull()]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
8,A3LMILRM9OC3SA,9759091062,NaN,"[0, 0]",Did nothing for me. Stings when I put it on. I...,2,"no Lightening, no Brightening,......NOTHING",1405209600,"07 13, 2014"
1790,AK1H26O8DLMNN,B0000535UM,NaN,"[0, 0]",The first thickening shampoo that works on my ...,5,Actually works,1405123200,"07 12, 2014"
2242,APTLHR9PHGPXN,B00005NAOD,NaN,"[0, 0]","Kind of drying, not moisturizing. Kind of disa...",2,Inexpensive and feels that wY,1405209600,"07 13, 2014"
2304,AQWX644AFUFFK,B00005NFBD,NaN,"[0, 0]","This is just ok. For one, I found this in a st...",3,"Ok, nothing amazing",1405468800,"07 16, 2014"
3651,A43K5ZRQ87TO6,B00008PC1O,NaN,"[0, 0]",Works well and easy to use!,5,Five Stars,1405296000,"07 14, 2014"
...,...,...,...,...,...,...,...,...,...
197192,A1Z3AV93ONK5VF,B00KAL5JAU,NaN,"[0, 0]",We already had the Dead Sea Shampoo by Adovia ...,5,"Non greasy, silky shiny hair",1401235200,"05 28, 2014"
197193,A184I8GT3BHZQV,B00KAL5JAU,NaN,"[0, 1]",&#60;a href=&#34;http://www.tomoson.com/?code=...,5,Dead Sea Salt hair conditioner,1403568000,"06 24, 2014"
197194,A8C9EJORQD23,B00KAL5JAU,NaN,"[0, 1]",I use this with the Adovia shampoo I mention a...,5,Adovia does natural right!,1402272000,"06 9, 2014"
198446,A2PIGZCDGM4NJ7,B00L5JHZJO,NaN,"[10, 11]","This is a horrible product, most of the review...",1,Bad Product,1404864000,"07 9, 2014"
198447,A3M1ADU4JICQR2,B00L5JHZJO,NaN,"[5, 6]","I bought this for my wife, as she loves using ...",1,Not satisfed,1404432000,"07 4, 2014"

In [8]:
#all necessary information is included even when reviewerName is NaN

In [9]:
df.reviewerID.value_counts()

A2V5R832QCSOMX    204
ALNFHVS3SC4FV     192
AKMEY1BSHSDG7     182
A3KEZLJ59C1JVH    154
ALQGOMOY1F5X9     150
                 ...
A2WQPYI2WI6U7X      5
A23164157UKPXV      5
A3PLXJACVMU6NZ      5
A1AFKC16E1HZ1S      5
AC5J3VHPGDSJW       5
Name: reviewerID, Length: 22363, dtype: int64

In [10]:
#YAY! all reviewerIDs have value of at least 5, total of 22,363 reviewers

In [11]:
df.asin.value_counts()

B004OHQR1Q    431
B0043OYFKU    403
B0069FDR96    391
B000ZMBSPE    389
B00150LT40    329
             ...
B002WVG8MY      5
B001DXQMS2      5
B004SODRDG      5
B000FVHS4U      5
B0073FET84      5
Name: asin, Length: 12101, dtype: int64

In [12]:
#YAY! all products have at least 5 reviews, total of 12,101 different products

In [13]:
#can save data as a CSV file for easier use, but it does not look like we need to clean data
#can drop reviewerNames

In [14]:
lower_rating = df.overall.min()

In [15]:
upper_rating = df.overall.max()

In [16]:
print('Review range: {0} to {1}'.format(lower_rating, upper_rating))

Review range: 1 to 5

In [17]:
#Confirming our review range is 1 to 5, which is the default for surprise

In [18]:
#Creating dataframe with appropriate columns to run through surprise

In [19]:
surprise_df = df[['reviewerID', 'asin', 'overall']]

In [20]:
surprise_df

            reviewerID        asin  overall
0       A1YJEY40YUW4SE  7806397051        1
1        A60XNB876KYML  7806397051        3
2       A3G6XNM240RMWA  7806397051        4
3       A1PQFP6SAJ6D80  7806397051        2
4       A38FVHZTNQ271F  7806397051        3
...                ...         ...      ...
198497  A2BLFCOPSMBOZ9  B00LLPT4HI        5
198498  A1UQBFCERIP7VJ  B00LLPT4HI        5
198499  A35Q0RBM3YNQNF  B00LLPT4HI        5
198500  A3LGT6UZL99IW1  B00LLPT4HI        5
198501  A3UJRNI8UR4871  B00LLPT4HI        5

[198502 rows x 3 columns]

In [21]:
reader = Reader(rating_scale=(1, 5))
surprise_data = Dataset.load_from_df(surprise_df, reader)

trainset, testset = train_test_split(surprise_data, test_size=0.2, random_state=23)

In [22]:
surprise_data

In [23]:
# How many users and items are in the trainset
print('Number of users: ', trainset.n_users, '\n')
print('Number of items: ', trainset.n_items, '\n')

Number of users:  22359

Number of items:  12101

In [24]:
#10,000 more users than items

In [25]:
print('Type trainset :',type(trainset),'\n')
print('Type testset :',type(testset))

Type trainset : <class 'surprise.trainset.Trainset'>

Type testset : <class 'list'>

In [26]:
print(len(testset))
print(testset[0])

39701
('A32POM4ALTYIZV', 'B005Z4QT7E', 2.0)

In [27]:
print(len(df))

198502

In [28]:
198502 * .2

39700.4

In [29]:
#sanity check that test set is 20% of total data

In [30]:
#starting with item-item similarity

In [31]:
sim_cos = {'name':'cosine', 'user_based':False}

In [35]:
from surprise.prediction_algorithms import knns

In [36]:
basic = knns.KNNBasic(sim_options=sim_cos)
basic.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [37]:
# looking at the similarity metrics of each of the items to one another by using the sim attribute of our fitted model

In [38]:
basic.sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [39]:
predictions = basic.test(testset)

In [40]:
print(accuracy.rmse(predictions))

RMSE: 1.2129
1.2128933192100995

In [41]:
#RMSE of about 1.2, meaning that it was off by roughly 1.2 points for each guess it made for ratings

In [42]:
sim_cos_user = {'name':'cosine', 'user_based':True}

In [43]:
basic_user = knns.KNNBasic(sim_options=sim_cos_user)
basic_user.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [44]:
basic_user.sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [45]:
predictions_user = basic_user.test(testset)

In [46]:
print(accuracy.rmse(predictions_user))

RMSE: 1.2401
1.2400588428109054

In [47]:
#KNN model with Pearson Correlation

In [48]:
sim_pearson = {'name':'pearson', 'user_based':False}
basic_pearson = knns.KNNBasic(sim_options=sim_pearson)
basic_pearson.fit(trainset)
predictions = basic_pearson.test(testset)
print(accuracy.rmse(predictions))

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.1854
1.1854039491870065

In [49]:
sim_pearson_user = {'name':'pearson', 'user_based':True}
basic_pearson_user = knns.KNNBasic(sim_options=sim_pearson_user)
basic_pearson_user.fit(trainset)
predictions_user = basic_pearson_user.test(testset)
print(accuracy.rmse(predictions_user))

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.1795
1.1795381227887218

In [50]:
#KNN model with Means

In [51]:
#same thing as the basic KNN model, except it takes into account the mean rating of each user or item depending on 
#whether you are performing user-user or item-item similarities, respectively.

In [52]:
sim_pearson = {'name':'pearson', 'user_based':False}
knn_means = knns.KNNWithMeans(sim_options=sim_pearson)
knn_means.fit(trainset)
predictions = knn_means.test(testset)
print(accuracy.rmse(predictions))

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.1791
1.1790736593254243

In [53]:
sim_pearson_user = {'name':'pearson', 'user_based':True}
knn_means_user = knns.KNNWithMeans(sim_options=sim_pearson_user)
knn_means_user.fit(trainset)
predictions_user = knn_means_user.test(testset)
print(accuracy.rmse(predictions_user))

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 1.1622
1.162184545973618

In [54]:
#This is our best model so far

In [55]:
#Running an SVD model with defaults

In [56]:
svd = SVD(random_state=42)
svd.fit(trainset)
predictions = svd.test(testset)
print(accuracy.rmse(predictions))

RMSE: 1.0889
1.0889451149217502

In [57]:
#Lowest RMSE so far!

In [58]:
svd.predict('A1YJEY40YUW4SE', 'B00LLPT4HI')

Prediction(uid='A1YJEY40YUW4SE', iid='B00LLPT4HI', r_ui=None, est=4.41104541567184, details={'was_impossible': False})

In [59]:
svd.predict('A2BLFCOPSMBOZ9', '7806397051')

Prediction(uid='A2BLFCOPSMBOZ9', iid='7806397051', r_ui=None, est=3.774499861592997, details={'was_impossible': False})

In [60]:
#Checking to see estimated rating for 2 user/product combinations

In [61]:
trainset

In [62]:
cv_svd_baseline = cross_validate(svd, surprise_data)

In [63]:
cv_svd_baseline

{'test_rmse': array([1.08870948, 1.0833853 , 1.09177078, 1.09185146, 1.08971124]),
 'test_mae': array([0.83439172, 0.82976812, 0.8368646 , 0.8375184 , 0.83600292]),
 'fit_time': (8.10701298713684,
  8.074291229248047,
  8.08345103263855,
  8.2220458984375,
  8.068026065826416),
 'test_time': (0.19235897064208984,
  0.1955568790435791,
  0.20186996459960938,
  0.19525408744812012,
  0.18959999084472656)}

In [64]:
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1YJEY40YUW4SE,7806397051,Andrea,"[3, 4]",Very oily and creamy. Not at all what I expect...,1,Don't waste your money,1391040000,"01 30, 2014"
1,A60XNB876KYML,7806397051,Jessica H.,"[1, 1]",This palette was a decent price and I was look...,3,OK Palette!,1397779200,"04 18, 2014"
2,A3G6XNM240RMWA,7806397051,Karen,"[0, 1]",The texture of this concealer pallet is fantas...,4,great quality,1378425600,"09 6, 2013"
3,A1PQFP6SAJ6D80,7806397051,Norah,"[2, 2]",I really can't tell what exactly this thing is...,2,Do not work on my face,1386460800,"12 8, 2013"
4,A38FVHZTNQ271F,7806397051,Nova Amor,"[0, 0]","It was a little smaller than I expected, but t...",3,It's okay.,1382140800,"10 19, 2013"
...,...,...,...,...,...,...,...,...,...
198497,A2BLFCOPSMBOZ9,B00LLPT4HI,Dave Edmiston,"[0, 0]",Just a little dab of this shea butter should b...,5,A little dab...,1405468800,"07 16, 2014"
198498,A1UQBFCERIP7VJ,B00LLPT4HI,Margaret Picky,"[0, 0]",This shea butter is completely raw and unrefin...,5,Pure organic raw shea butter,1405296000,"07 14, 2014"
198499,A35Q0RBM3YNQNF,B00LLPT4HI,M. Hill,"[0, 0]",The skin is the body's largest organ and it ab...,5,One Pound Organic Grade A Unrefined Shea Butter,1405468800,"07 16, 2014"
198500,A3LGT6UZL99IW1,B00LLPT4HI,"Richard C. Drew ""Anaal Nathra/Uthe vas Bethod...","[0, 0]",I have very dry elbows and knees. I have a to...,5,This stuff is amazing!,1405382400,"07 15, 2014"
198501,A3UJRNI8UR4871,B00LLPT4HI,"Wulfstan ""wulfstan""","[0, 1]",This is 100% pure Shea Butter. Do not mistake ...,5,"The ""Real Stuff""!",1405987200,"07 22, 2014"

In [65]:
#Baseline Models; true baseline should be NormalPredictor(); user_based=True

In [66]:
baseline = NormalPredictor()
baseline.fit(trainset)

In [67]:
predictions = baseline.test(testset)

In [68]:
baseline = accuracy.rmse(predictions)

RMSE: 1.4973

In [69]:
baseline2 = BaselineOnly()
baseline2.fit(trainset)

Estimating biases using als...

In [70]:
predictions2 = baseline2.test(testset)

In [71]:
baseline2 = accuracy.rmse(predictions2)

RMSE: 1.0890

### Alex: SVD

#### Attempt on new split

In [116]:
#Import cross_validate, SVD, and Grid Search from Suprise
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.model_selection import GridSearchCV

In [117]:
#Hold out 10% of data for validation
#Create a new surpise data class
svd_data = Dataset.load_from_df(surprise_df, reader)
raw_ratings_svd = svd_data.raw_ratings
# A = 90% of the data, B = 10% of the data
threshold = int(.9 * len(raw_ratings_svd))
A_raw_ratings_svd = raw_ratings_svd[:threshold]
B_raw_ratings_svd = raw_ratings_svd[threshold:]

In [118]:
# svd_data is now the set A
svd_data.raw_ratings = A_raw_ratings_svd

In [34]:
#Create a param grid for grid search
SVD_parm_grid = {'n_factors':[20,50,100,150],'n_epochs':[10,20,30],'biased':[True,False]}

In [80]:
#Instantiate our grid search & fit to set A
svd_grid_search = GridSearchCV(algo_class=SVD,param_grid=SVD_parm_grid,measures=['rmse'],cv=5)
svd_grid_search.fit(svd_data)

In [73]:
#https://surprise.readthedocs.io/en/stable/FAQ.html -> "How to save some data for unbiased accuracy estimation"

In [81]:
best_svd_algo = svd_grid_search.best_estimator['rmse']

In [87]:
svd_grid_search.best_params

{'rmse': {'n_factors': 20, 'n_epochs': 20, 'biased': True}}

In [82]:
# retrain on the whole set A
trainset_svd = svd_data.build_full_trainset()
best_svd_algo.fit(trainset_svd)

In [83]:
predictions = best_svd_algo.test(trainset_svd.build_testset())
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions)

Biased accuracy on A,   RMSE: 0.9390

0.938986292642642

In [86]:
# Compute unbiased accuracy on B
testset_svd = svd_data.construct_testset(B_raw_ratings_svd)  # testset is now the set B
predictions = best_svd_algo.test(testset_svd)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions)

Unbiased accuracy on B, RMSE: 0.9689

0.9688963063125187

#### Attempt new grid search params with lower n_factors
- Adding lower values for n_factors because our previous best estimator hit our lower limit of n_factors = 20

In [134]:
SVD_parm_grid = {'n_factors':[2,5,10,20],'n_epochs':[10,20,30],'biased':[True,False]}

In [135]:
#Instantiate our grid search & fit to set A
svd_grid_search = GridSearchCV(algo_class=SVD,param_grid=SVD_parm_grid,measures=['rmse'],cv=5)
svd_grid_search.fit(svd_data)

In [136]:
best_svd_algo = svd_grid_search.best_estimator['rmse']

In [137]:
svd_grid_search.best_params

{'rmse': {'n_factors': 2, 'n_epochs': 20, 'biased': True}}

In [ ]:
SVD(n_factors=2,n_epochs=20,biased=True)

In [138]:
# retrain on the whole set A
trainset_svd = svd_data.build_full_trainset()
best_svd_algo.fit(trainset_svd)

In [139]:
predictions = best_svd_algo.test(trainset_svd.build_testset())
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions)

Biased accuracy on A,   RMSE: 0.9824

0.9823613584790697

In [140]:
# Compute unbiased accuracy on B
testset_svd = svd_data.construct_testset(B_raw_ratings_svd)  # testset is now the set B
predictions = best_svd_algo.test(testset_svd)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions)

Unbiased accuracy on B, RMSE: 0.9687

0.9687055612776263

#### Attempt new grid search params with regularization

In [ ]:
SVD(

#### Attempt on trainset

In [39]:
#Instantiate our grid search & fit to trainset
svd_grid_search_ts = GridSearchCV(algo_class=SVD,param_grid=SVD_parm_grid,measures=['rmse'],cv=5,return_train_measures=True)
svd_grid_search_ts.fit(surprise_data)

In [47]:
svd_grid_search_ts.best_estimator

{'rmse': <surprise.prediction_algorithms.matrix_factorization.SVD at 0x7fc102c68580>}

In [53]:
best_svd_algo = svd_grid_search_ts.best_estimator['rmse']

In [52]:
best_svd_algo

{'rmse': <surprise.prediction_algorithms.matrix_factorization.SVD at 0x7fc102c68580>}

In [58]:
best_svd_algo.fit(trainset)
predictions = best_svd_algo.test(testset)
accuracy.rmse(predictions)

RMSE: 1.0836

1.0836471641265648

### Exploring users who rate everything a 5

In [81]:
high_ratings = df.groupby("reviewerID")["overall",].mean().sort_values(ascending=False)
high_ratings.value_counts()

5.000000    2822
4.000000    1615
4.200000     900
4.400000     863
4.600000     861
            ...
3.648649       1
4.243243       1
3.694118       1
4.710000       1
4.048780       1
Name: overall, Length: 795, dtype: int64

In [72]:
high_ratings

reviewerID
A4UHZXSLMBWT2     5.0
A1ORLBQV893JF0    5.0
A2RJT3IE2T6KXJ    5.0
ANOJX4RAUJ9HL     5.0
A15QGN6UXJVW9G    5.0
                 ...
A2MHHSACEJANSX    1.0
A1KLA02LZXAT46    1.0
A1GQLVT0SWAWU     1.0
A2DPSPXFJ507C0    1.0
A1W522Z24EPBJB    1.0
Name: overall, Length: 22363, dtype: float64

In [73]:
len(df)

198502

In [80]:
df["reviewerID"].value_counts()

A2V5R832QCSOMX    204
ALNFHVS3SC4FV     192
AKMEY1BSHSDG7     182
A3KEZLJ59C1JVH    154
ALQGOMOY1F5X9     150
                 ...
A2WQPYI2WI6U7X      5
A23164157UKPXV      5
A3PLXJACVMU6NZ      5
A1AFKC16E1HZ1S      5
AC5J3VHPGDSJW       5
Name: reviewerID, Length: 22363, dtype: int64

In [83]:
df.groupby("reviewerID")["overall"].mean().sort_values().value_counts()

5.000000    2822
4.000000    1615
4.200000     900
4.400000     863
4.600000     861
            ...
3.896104       1
2.416667       1
4.559322       1
3.662338       1
3.105263       1
Name: overall, Length: 795, dtype: int64

In [87]:
low_raters = df[df.groupby("reviewID”)[“overall”].mean()==1]

SyntaxError: EOL while scanning string literal (<ipython-input-87-0be5a2e74049>, line 1)

In [96]:
avg_rating_user = df.groupby("reviewerID")["overall","reviewerID"].mean().sort_values("overall")
avg_rating_user

<ipython-input-96-8752c1212ea2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_rating_user = df.groupby("reviewerID")["overall","reviewerID"].mean().sort_values("overall")

                overall
reviewerID
A1W522Z24EPBJB      1.0
A2DPSPXFJ507C0      1.0
A1GQLVT0SWAWU       1.0
A1KLA02LZXAT46      1.0
A2MHHSACEJANSX      1.0
...                 ...
A15QGN6UXJVW9G      5.0
ANOJX4RAUJ9HL       5.0
A2RJT3IE2T6KXJ      5.0
A1ORLBQV893JF0      5.0
A4UHZXSLMBWT2       5.0

[22363 rows x 1 columns]

In [101]:
count_rating_user = df.groupby("reviewerID")["overall","reviewerID"].count().sort_values("overall")
count_rating_user

<ipython-input-101-3e5bd0f52af1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  count_rating_user = df.groupby("reviewerID")["overall","reviewerID"].count().sort_values("overall")

                overall  reviewerID
reviewerID
A1TQ2IR4LZWJDI        5           5
A20H2Q6KA5D4B3        5           5
A3G6TBNZG4XC75        5           5
A20H1A2Q7LO87Z        5           5
A3G78MIYEFPHEC        5           5
...                 ...         ...
ALQGOMOY1F5X9       150         150
A3KEZLJ59C1JVH      154         154
AKMEY1BSHSDG7       182         182
ALNFHVS3SC4FV       192         192
A2V5R832QCSOMX      204         204

[22363 rows x 2 columns]

In [99]:
low_rating_user = avg_rating_user[avg_rating_user["overall"]==1.0]
low_rating_user

                overall
reviewerID
A1W522Z24EPBJB      1.0
A2DPSPXFJ507C0      1.0
A1GQLVT0SWAWU       1.0
A1KLA02LZXAT46      1.0
A2MHHSACEJANSX      1.0
A2RJTIE73NPN3C      1.0
ASWIC85F71H4J       1.0
A2TBE0N8JN6H4K      1.0
A1GPPMHYM6SMEW      1.0

In [100]:
high_rating_user = avg_rating_user[avg_rating_user["overall"]==5.0]
high_rating_user

                overall
reviewerID
A2FINIRQNXOTI       5.0
ATWS89FH6Y6S4       5.0
A16Q479PYT0G6N      5.0
A3OKW5VRXZG3OQ      5.0
A3O9Q3154FPZLL      5.0
...                 ...
A15QGN6UXJVW9G      5.0
ANOJX4RAUJ9HL       5.0
A2RJT3IE2T6KXJ      5.0
A1ORLBQV893JF0      5.0
A4UHZXSLMBWT2       5.0

[2822 rows x 1 columns]

In [108]:
high_rating_user_ids = list(high_rating_user.index)
high_rating_user_ids

['A2FINIRQNXOTI',
 'ATWS89FH6Y6S4',
 'A16Q479PYT0G6N',
 'A3OKW5VRXZG3OQ',
 'A3O9Q3154FPZLL',
 'A2FJRU6RKAEAYX',
 'A1I9YRWNWRO3BY',
 'A2FQ1Q3V31QLQB',
 'A8WJERXUE7P43',
 'A2FAVDANCZYKNX',
 'A3OK7MGXBAK4JM',
 'A1YUGBWG0G9REI',
 'A1BOW2E468Y7Q1',
 'A8TPE62B0UCCE',
 'A2FKG99KYKTZQO',
 'A3OQ4I8U6TYCVE',
 'A3OOIWLW0Y01C2',
 'A2FLXE8YW1LMBN',
 'A1BPCAYEK3T1V7',
 'A2FGQ0JGXYYW6D',
 'A2FM0GJWDCQNFD',
 'A8QXLDP4JBE3K',
 'A3OPVTWOL57FCW',
 'A2FM5AJ7QH33S0',
 'A2FOR1IJSX76LQ',
 'A3OP6HJMA7SKDB',
 'A2FI3GF4Z7QNO',
 'A3OHN0JHXJ9BLA',
 'A2FEJKLHXJY7JT',
 'A1BO0E7TFN58TS',
 'A1YX68282RPR0S',
 'A2FC89NUP5CL8B',
 'A16Q29GKE0WNW4',
 'A3OD3HNHVSYJCR',
 'ATVAMZS8V7AZ6',
 'ATZFZONPLXQJN',
 'A3O27SJDAU2UAG',
 'ATSVUBE2115N1',
 'A3NPO4ECDIMF92',
 'A2GFS17LT7K6QV',
 'ATFF039E40YCS',
 'A1YQZCX2K3ISX5',
 'A94FW86TF1HL7',
 'A1YRHLWLQYRXKH',
 'A3NSLQZTVCO7J6',
 'A3NSLW1M3469ST',
 'A2GDP615CA6E9J',
 'ATH3U4X61L8D5',
 'A2GD4LJFKOZ9YZ',
 'A93DR0MWWC2B7',
 'ATHI1A9N10E6A',
 'A930TA3RDIJRS',
 'ATHP3KFKOKX6Z',
 'A16KNLKH7JYA1I',
 'A3NXOKJ2HEV7OU',
 'A952LJOXPLTVL',
 'A1YQALBYMTYLH9',
 'ATATQV57APV3Q',
 'A2GPMFTCS096A',
 'A3NGXMNZITEBGA',
 'A13C67M3TC0VVH',
 'A13C02EJ1EC07T',
 'A1I67E088GOLL9',
 'ATCO1MR1GTK1T',
 'ATCPF6HAYJ1ER',
 'A13BQLWGS6OVR0',
 'A1MJZ3UD1Q4L83',
 'A1YPM4GCO8I1W1',
 'A1YPWA0MA1XNKG',
 'A2GJ62OZ3H09DX',
 'A3NKBCNIXTL2CM',
 'A95G2DL7YESDZ',
 'A1MJPGYK9MOSB6',
 'ATSVUDE1BXQQG',
 'ATI4VS6HBNGYW',
 'A2GBAFR62R7RJB',
 'ATOGMC2TTUCJA',
 'A2FWZFI9LB1RCW',
 'ATP7CCTCM1Q83',
 'A108JE8E0CK1G3',
 'A2FWAQRKSOPBX',
 'A2FUEW1L1B96WX',
 'ATQJGEZNPHDVO',
 'A3O3WQVKGDVB6D',
 'A2FTQN0I96LVI7',
 'A2FTOSIQ960XYT',
 'A1I8CASQOMQTJ3',
 'A2FSPD94H4SYE3',
 'A8XG4YHHLQHXZ',
 'A1MDW7AH6BUP5Y',
 'A3O4OUM9TSG9Q8',
 'A2FXAQB45P4DBT',
 'A16M7YAIAOLPW',
 'A8ZA0A9E2KJKH',
 'A123KV8N20EQUR',
 'A16MHMVUD5X4I7',
 'A1BT3A2OAJXZLF',
 'A2G8W6K7UW1KLL',
 'A2G5PN9111VN6I',
 'A2G563AC1HME2R',
 'A3NYJ93DFGW6SD',
 'A2G4GL6B3ABFBK',
 'A1MFG9E45RX5OW',
 'A19CZ4AFTM2KKG',
 'ATLUT3BNIKGHJ',
 'A1MF325XQFLRR9',
 'A1YSYZTXYMY5IF',
 'A2G1L1KWIHNQFI',
 'A1MEQ9X7ZHTEHP',
 'A3O22PG4MHDI4Y',
 'A2FXHRM0QNU0QL',
 'A1IBTOGR052IY2',
 'A35E18C8NCR9CC',
 'A2FAKXPLPCGSWM',
 'A2DITXU4DDRLVT',
 'A3Q22GVXHRZAZW',
 'A1ZE39OSBBBXTE',
 'A3Q387RL6ON95F',
 'A2DH7Y87LDR8DU',
 'A1BGG0GLIZNUPU',
 'A1IHK5QYJMGSWP',
 'A1BFEKGDUKP5ZT',
 'A3Q1P2LK9IUA89',
 'A2DG3YVEU37IZ7',
 'A1ZFBT2PLD7QXT',
 'AUVF56QLQRTPZ',
 'A2DALFBECQH1SO',
 'A841UB147HO47',
 'A3Q5PK1BTW16TQ',
 'A2D6AIGXGQWT1I',
 'A836JYJP84A4V',
 'A3Q6JDOBCYVDZO',
 'A2DEAP0WB7UH67',
 'A2DJGOC35FF9TC',
 'A2DJXYKRNWLWGO',
 'A2DK6WLI2Q0FCL',
 'A3PVE2P1WD6FN8',
 'A3PWOASCVEQNWC',
 'A891P0KYK4HJV',
 'A2DVE0GA00ZX5Z',
 'A19YGJNR0ZQZ7P',
 'A890BVCQ05TAV',
 'A1LSP0DCU3BZEJ',
 'A2DU8TQWBL4A24',
 'A2DTE0WS2DWOYC',
 'A2DSUD4EVD9CUI',
 'AUOFDVOZV0JKA',
 'A3PYTHRFQS5D2R',
 'A2DQ3UDEHE0B5V',
 'A3PZ9KFVQIJOEK',
 'A2DPD0HSSK34QR',
 'A3Q0XDS7RYYQ28',
 'A1BGN1UM5GT19I',
 'A2DMTDY25APFKC',
 'A1BGM7XV3JLSDB',
 'A2D5DO4LZZAIK3',
 'A2D47Q6Y5N3YOQ',
 'A2D3P6YM80ALRS',
 'A3Q8YDUEW9TQO4',
 'A12Z9GK7XZTYYD',
 'AV3AUFSA1DXVZ',
 'A2CQCPJQ3DLM45',
 'A2CP7VAQRC55D7',
 'A19CJKE0GHGCEC',
 'A1LLG2MPYVFAIK',
 'A1LINUXSVYVE7L',
 'A1ZMUNE2N8G9EJ',
 'A2CJL6TINDZ0IF',
 'A2CJ38JUNXY4CA',
 'A3QHTTBHBJ37IQ',
 'AV5QKR5O2XE1I',
 'A1IHXC9BG6S5AB',
 'A3QI5G5J1NHAEU',
 'A2CEM5LTF7Q2Q2',
 'A16WQEFFLN0CBT',
 'A3QJ5JOG2C2UAV',
 'A2CDWKIJDTT0Y8',
 'AV75Q06L47PZ4',
 'A818QI0ZS5JFZ',
 'A3PUB24X62J29P',
 'A2CRYZRNVGHE6Y',
 'A2CT9WC5LCY0BE',
 'A1BCRICL4UUBC6',
 'A1LMH7HFNBZUCX',
 'A1IHKH9L7274JH',
 'A3Q9V0CHGU7O0C',
 'A2CY8NT1HMH2UJ',
 'A1IHSNCZ5GQSC7',
 'A2CXV9CG7DAOOK',
 'A196FUEVIMH83H',
 'AV0F59NZ356HJ',
 'A2CVCPOHPWNNJL',
 'AV10H5K6VPQIJ',
 'AV1BNRU8LVHOI',
 'A2CUZSTFNJRA1B',
 'A2CUSP4GGAO1S7',
 'A3QBHB039T7JC2',
 'A2CUQABPIBHVNN',
 'A1ZJW4FEQBITDB',
 'A2CTS78K1HMU9L',
 'A2CTK89K8RRQ60',
 'A3QCWR3D75TZJK',
 'A2DZ3HRFT20GXU',
 'A1LUXL5GEANXL9',
 'A1LVEPRENTHRSH',
 'A3NEAETOSXDBOM',
 'A1Z1E5FG4HSRBE',
 'A1IDDSD1P24TZW',
 'A3P4DI6NN4O0JE',
 'A3PCCAUXRKYNV2',
 'AU7SVOGF0Z2TK',
 'A2EV3NYJJOW791',
 'A1Z2P4GHN01I2M',
 'AU9G3LW3F2BI2',
 'AU9MV75IZYVB2',
 'A8JC56FC74XZE',
 'A1803RSNURLATR',
 'A2ETF4N62SFLOJ',
 'A2ESYF5YSDV4NF',
 'A1Z3AV93ONK5VF',
 'A1M05XCDFMAS83',
 'AUBRO0YQ4PIE3',
 'A3PCY3GWYEN50B',
 'A2EPUONFZCXYHP',
 'AU6V10A0JLTMG',
 'A1IFBIHD4SLBLZ',
 'AU6H2U9XGA246',
 'A3P30LTMM9DJLP',
 'A1M4OLB2W10T0P',
 'A135SX8ESCQV9B',
 'A2F6NONFUDB6UK',
 'A3OS5ADQV1X5SP',
 'A8OT6HCL778U5',
 'A1YYNHPUR4OQQX',
 'A3OW4DVJ23FTVV',
 'A1M4H1TQP4H45Y',
 'A8NVQFKYZZXRO',
 'A8NUOJQ9GQ2VJ',
 'A2F0X4LN9N4O4C',
 'A2F0SJ0XNROB8F',
 'A3OZJH0C9BAZ3K',
 'A1M34AINJOYHB1',
 'A1M271OI7YRUA',
 'A8M84NBNEWD08',
 'A2EY6R1C77EZGX',
 'A2EY3MSJ8E9OAA',
 'AU5J52BQMBCWB',
 'A3P3APLPG3002B',
 'A2FATV9B51LRK8',
 'A3PD8KD87AXNLD',
 'A8HUTERW4EHGR',
 'A1BIW7KW0I66XG',
 'A3PMZRFN20A6CH',
 'A2EDF8M15LA651',
 'A2EDAY56ZTA6XY',
 'A1BHZ0B7FRQ8OD',
 'AUHMNZ6NB5FH9',
 'A2ECPNF68XBDS4',
 'A2ECHX2S6EFQWC',
 'A2E96ESB1L5R8Y',
 'A8C9EJORQD23',
 'A8BU45ZCMHUZW',
 'AUJEF31CXWTCQ',
 'A2E6HVN612LEQO',
 'AUJP7UJNNEDT3',
 'A16R09SYQR13YW',
 'A2E3WMF9RWW2X2',
 'A2E30NGLPAFJH0',
 'A1LW6AUNFNF890',
 'A16RNH6PP3NEBF',
 'A2EF6ZK9XDG779',
 'A133YCW8C9JKC5',
 'AUFYGX6HQALNC',
 'A3PLXJACVMU6NZ',
 'A1Z4WDS16I363C',
 'A1Z4WHS1TXCHLX',
 'A1Z4XCX0PC1HSM',
 'A3PFZTGAOXRB5J',
 'A8GNTEB5XCCA4',
 'A2EL2OS3LBG4RO',
 'A2EKY0O6CL2M3H',
 'AUDQIJOG4JI87',
 'A8FJHPCMKR28F',
 'A2EKHAXB4RJBM7',
 'A3PGYSB5CMESLM',
 'A3PHOU49VPIFEE',
 'A2EJMYNF9WUNJO',
 'A3PIVI77JXMYGV',
 'AUF0ATEEOKV2C',
 'AUF0N5SPOYWD',
 'A1LXTP5YM7V90W',
 'A8E0DUPKQFTGP',
 'A1Z5WNXC34H0L0',
 'A3PMT52V8V46CE',
 'A3NE2N5HL7GLAT',
 'A9DGZEZOARNKY',
 'A2GQCSVZWZX10R',
 'A2K0FT2E39AECL',
 'A3KZ91O8KA1IAZ',
 'A3KZERTGXIP8VW',
 'AABTMAIXZY2CI',
 'A2JYR10B40EI3Z',
 'A2JY0MTZBFR660',
 'A1HS1JS92UY6HK',
 'A2JX359BT8MUSF',
 'A2K0IGZEOM0GOC',
 'A2JVISJC1V6GWB',
 'A1N5DXFCDMVHE3',
 'A1N4EI79NE4XYR',
 'A3L85FTL937CEC',
 'A19XBQVAR95EZJ',
 'A2JS5LL8BY6NVL',
 'A2JRC1BEN4F6P5',
 'ARSNLUMI16REO',
 'A2JQBPKTB1WG94',
 'A1XX7A00LMV0B0',
 'A13IEEF3PBMB0H',
 'ARNQCPXDBEERZ',
 'A1N8VZP6JAAMA4',
 'A2K9XJ1ND1343O',
 'A2K8WYNIBEOS0X',
 'A3KJY6DTFQQWNV',
 'A169XK3CYY855G',
 'AAH9EZZAUQQW2',
 'A2K7I7UJFU4ICU',
 'A3KQMERZUTHO1R',
 'A1N9QWF2LEHK80',
 'A2K6Z2IN9HUT5B',
 'A2K5E9YNWOP5JQ',
 'A1XUA7404SYGBB',
 'A2K5AGWEYERZ9X',
 'AAFD10YI0B0V3',
 'A1N8YI1UPTGH80',
 'A2K1490BFW34BQ',
 'A2K0W9HNCJ746V',
 'A2K0QLST7946WU',
 'AAF4AO5MAVD5D',
 'AAEVYY0PHQUUL',
 'ARSSTVEDZ6G68',
 'A2KCNRFE5NL5B6',
 'A1C90VHGKE1V9B',
 'ART21UV0XR63Z',
 'A2JJDROOLVYHXG',
 'A3LIOQ6M991VBX',
 'A1XZBI594HFG7Z',
 'A2JFUJ4TLYXH0L',
 'A2JFNS65F0XXHO',
 'A3LJP6NDCTKK6Z',
 'A2JEZAYNYDAORL',
 'A2JENXDKSW666Z',
 'A3LG52UDJ7S5FW',
 'AS1RPAY2NAPAQ',
 'A13H5DVSWU60KM',
 'A2JCC5VZY1OTFW',
 'A1Y0SZKSFOMESE',
 'AA44DPP8I7IL3',
 'AA3EZF22VEB32',
 'A1HTU3BEHDKKLI',
 'A3LMV6UDGWBTQA',
 'AA33YTW7D3N6D',
 'A3LM5BHZ018AOQ',
 'ARZDORDLR4TA7',
 'A1N0T1RXSF1AW4',
 'A2JK2F69GDATO0',
 'A1XXXD9WNPD9YS',
 'A18357S1Y60QX9',
 'AA9UTGNMCBM8Z',
 'A1N3ABXUU3HSDG',
 'AA9EU3E7YAL0E',
 'A3LAMJS25LJ6I6',
 'ARVRHICSF1HJ',
 'ARVUWRVOB5GVP',
 'A3LANSRXLT1PW0',
 'A3LAQEWRLEP80C',
 'A2JNA01G0SEVD5',
 'A19DPHRG5VRHMH',
 'AA7MS6WEVDYIM',
 'ARXHSWN3RMN93',
 'ARXIBN5VZ4386',
 'A1XYWDGW0SE1E2',
 'A2JKYM9C9QCO4K',
 'A1XZ3Q7W0UPV56',
 'A1HSQ41KGGXHNF',
 'A3L85P5SQPNIPV',
 'AS3UM0LHN7L1Y',
 'A2KEMWA908SG97',
 'A3KJUDG3PKRBB4',
 'A3JP28548O7TPD',
 'A2L47WREXM8L22',
 'A11XT24G3PZ8CQ',
 'A2L3J6A347GF9P',
 'A1XIBJHFDFPFLV',
 'A1XJ8S8M1POF8M',
 'A2L1IEIZNTVI0J',
 'A1NHVLB3BSRGBU',
 'A3JON8UVO3BKWK',
 'A3JRCCZFKAF52',
 'A1NGYBTJ5Y15Y7',
 'A184I8GT3BHZQV',
 'A1HKLEIFW5IW3G',
 'A168SB7R44I9IQ',
 'A3JVN244YWI3F3',
 'A3JY2F9INW4DCT',
 'AR7ODCG57VKFT',
 'A2KZ38JZXZNHDQ',
 'AAXWEZOH5TI3',
 'AR2YG7VMC6T1P',
 'AR2KSHT9E4MM7',
 'A1HIATEY9H0W3T',
 'A1NKVNJOBA8FGZ',
 'A2LB38AJ9ZJTC5',
 'AQZ3U03RS6C88',
 'A1CKP7DR7KV5E1',
 'AQZFARMCVMI9Y',
 'AQZGIT0PQ52AD',
 'A13LHBUYIK9TMC',
 'AR0061TDVTA90',
 'A3JN7YYN1X6KI3',
 'A3JNA4RRAQVUHM',
 'A1CKCGZIHFBUR1',
 'A1680FEI6YINFQ',
 'A2L88TSIGYSP41',
 'A2L7JV0MPTN4V',
 'AR1JDFK058HE9',
 'AB0T4M5WPYM0I',
 'AB0J19NZ2SD70',
 'A2L6JHIQJ6HX9P',
 'A1CJZ8CGR8LSNO',
 'AR88L6NGNUHG4',
 'ARGT7BXP1K7HO',
 'A2KZ0UIXK1TMIE',
 'A2KYFJPCOJY35Q',
 'AAMS5L1FD6U5N',
 'A3KF8OP0I238YQ',
 'A3KFWHU23ML8E8',
 'A3KINWOT486RVD',
 'ARE2MDLUM3APW',
 'A3KIOMRFJL9YGB',
 'A2KKVZDRUZ3NCA',
 'A2KKS3UU5CE2T7',
 'A13JYPP8UAWZWP',
 'A1CDCZY6JQQUJ6',
 'ARFL1FELT6VKZ',
 'A2KJZXIXBHVG0K',
 'A2KJWZ7I24GMQC',
 'ARFM9XV0EUSW3',
 'ARFRKID8WSIIL',
 'AAJN7TABNKT5K',
 'A1XRBL7XI90FX',
 'A1XSSG2IQL1023',
 'A1XQENKF1Z3HMJ',
 'A13K7DI5Q7UXSB',
 'A1HQM7Q6LEVKW1',
 'A2KPWKLXW0JFE8',
 'A1XLK1JAEFAN9I',
 'A2KXC9ICIICYNS',
 'AATWIUM92SB2R',
 'A3JZ81N3CB5PIP',
 'A3K07M3RETZR63',
 'A3K3T0MJRZVWWP',
 'A3K3WHM4C7XCCX',
 'ARAGORUBUH8XT',
 'A2KWLOBY7GABA0',
 'AARLZ5YUHB7DB',
 'A3K4SHKV5H9OSU',
 'A3K74114J852FQ',
 'A3K7APE268J196',
 'A1CEXBPFII8OG8',
 'A2KSEREZAWFOF2',
 'A3KAZVPRN577G2',
 'ARBRWSZH1CP70',
 'A1XP13D49I37DV',
 'A2KQH12AFDMN4B',
 'A3JYAPO496COOF',
 'A2J7BEPJB2NQ8I',
 'A3LOVYOYGXZEZV',
 'A2J591OLWPBEMQ',
 'A3MIKGO9GHDB4E',
 'A3MKTMG1Y1Q3M4',
 'A2HRRBJDCHWAK9',
 'A3MNFI7PHG3XLQ',
 'A9MNSV3NKN2C',
 'A3MOCGTDZO2A0U',
 'A2HNY1X22KZ41M',
 'A1YILLVK1277IC',
 'A1YIDFOSOKSAG',
 'A2HKKAOZG75FAQ',
 'A3MU8OBSCGX56L',
 'A10AVFDDU87KJ4',
 'A16FQAZE232M0R',
 'A1MQ7QN3S90UJ3',
 'A181T1U7WRODR9',
 'A121KMFNEWZHYW',
 'A2HCRBZEU44R0N',
 'ASY4TVBQLUU4V',
 'A3MQGE78FUVFYX',
 'ASS7BE3OFM44N',
 'A3MIJQ6V1IACTY',
 'A10BSS8EZFU0RZ',
 'A16EWAG1SO7QMG',
 'ASNEPTZRP0EDO',
 'ASNEWWV7GY6LF',
 'A2HWIB3OA6T3KF',
 'A2HWF3GU8HQ65N',
 'A1YIBS8K69EG1V',
 'A2HV5MFNXN0FSW',
 'A1I0UOVLRV2A5T',
 'A1C05I2RE9MYMU',
 'ASP7FI5BO281G',
 'A1MU2YMN78CADQ',
 'A1C04PEKGICEUO',
 'ASPL0SF3VVEZH',
 'A2HUJQL69W4F6X',
 'A2HUIIA2QN4H14',
 'A2HTX4HVK65YN4',
 'A1MSLHCISXDB79',
 'A3MHR2OBO2EWP0',
 'A3MI7N5E7UQNFS',
 'A1BYGJY1CIVTPY',
 'A2HWZ43WI89MSF',
 'A3MYG7TWPDUAK',
 'A3MYY7DV4TDL6W',
 'A2H05D2NQ7OFY1',
 'A3NB7MNJ6QCSGB',
 'A9BLKS2XSCI9J',
 'A2GYCGJVT1TC4O',
 'A2GXB7WJRGWHOL',
 'A1YNI8AT0RX4FN',
 'A3NBM4F6M7L2SY',
 'A3NCB51ODGDZ3',
 'A2H2N41KBP68JM',
 'AT8K2X9IQS407',
 'A99M9MDHR23Q4',
 'A2GSO1KCB4LVXT',
 'A1YP5WLIHGG136',
 'A2GRK93JJ714MK',
 'A13CU8MG6T51ET',
 'A2GRIT6JVGKTSA',
 'A2GRFYA2LX8STE',
 'A2GR8DKPGFS0FX',
 'A1BVGYU4CT3R06',
 'A2H35PTYWVZA3I',
 'A2H3FJ1MI0IN5V',
 'A16HOF1WQ53ISU',
 'A9HT0J22UER2U',
 'A2HC94UMOSA5IE',
 'A2HB9R7LTN7A7O',
 'A2HAVICMBMJ1B6',
 'A2H9Z6OSDBBDFI',
 'A3N38KMSMYELWC',
 'A3N49CWT2F2WCR',
 'A9ESHA5MS6S6L',
 'A2H8KHYX2CSKSS',
 'A3N74F2A1D6N65',
 'A1BY4ZPY5FF2SB',
 'AT25728MZICA5',
 'A2H7GVXG28DU3',
 'AT29CACYTJKYX',
 'A1MN175SVC6Q2I',
 'A1MLZRR83LZE29',
 'AV7JJ3X0M17AC',
 'A2H4JOAAC6GH77',
 'A3N9WRCZ1TTI9F',
 'ASYVI9TLV4WPI',
 'ASMK582FKPNDA',
 'A2HYMHX9P8MXB',
 'A2HZ6G2HQ5FCU5',
 'A3LUBCK7X6CFDO',
 'AS7Y7VUDF1VSN',
 'AA0ACUPEPT1RN',
 'A2IT5J4H9MHB2Z',
 'A1Y7YR52YGFNJ',
 'A1MY0JMN3D5HVH',
 'A1Y87C9PZLSCK3',
 'A2IQETH87S6IX6',
 'AS7OZHGS6G1R5',
 'AS935YJ1LIR5K',
 'AS9IG6PUNJQGC',
 'A1C4LZMNYZREZ2',
 'A1Y8MXGYT8RUBF',
 'A9YCRCOUEW8Q6',
 'A9Y74ME1Y37BF',
 'A3LYSKFMYREX9C',
 'A2IK5CHTYMHMRX',
 'ASBUN4IBPXXIC',
 'A9YWXFBTBKQN6',
 'A182GCMYVYOPF8',
 'AA0E1FP3XX9KW',
 'AS79L77IK4S1V',
 'A2J58ARKUZ99YA',
 'AS4P74KQY9WR4',
 'A2J4XMWKR8PPD0',
 'A1MYQP62TWNV78',
 'A3LPP7N20G7PIY',
 'A1Y3FEUELH3FTI',
 'A2J20GWZLFU3MH',
 'A3LQJZVOWQXOVU',
 'A3LQXZYW45VAKG',
 'AS5Y8GODK9IDQ',
 'A1HUW41UBVLDNA',
 'AS601QL76Q5ES',
 'A2IYFWTBRBKO3G',
 'A2IXSX2QSF7J66',
 'A2IX2PCXS5O2FK',
 'A1Y765I59I0ZTE',
 'A3LRLLBCS4X5C1',
 'A2IVF2MVEVER0I',
 'A1Y7C8PV83I3XW',
 'A3LYSRW0N6N3XE',
 'ASCF54LSHNKDB',
 'A1HVQFWB7GG15G',
 'A2IHMUEERSGTVN',
 'A2I7MP5GCRNNF0',
 'ASIEM9LIO50D7',
 'A9SY4R419THI1',
 'ASIWJTQBF7FCN',
 'A2I56Z0U2309NL',
 'A9SWXSVCHJS6L',
 'A3M6QNJ79UIR18',
 'ASJDCUGCMII0I',
 'A2I56BBI20YV1C',
 'A3M7BLAXAQJE7D',
 'A1YHP3TKOTIIZ3',
 'A2I3BWIY35O2SX',
 'A2I2ZHG8M88CUQ',
 'A2I27S48Y59RH0',
 'A9Q28YTLYREO7',
 'ASKKAHTFD4XRL',
 'A1YHXGV6GC51IM',
 'A2I1HVD9U8MXS1',
 'A2I0IEIA9FJB14',
 'A2I83WNAYGX8E',
 'A2GQ0WGM9BYX9O',
 'A2I89FQUSMESB',
 'A2I8KUDXTC9WYI',
 'A1YD35RI6XTRQL',
 'A16DBWVWD7W4W8',
 'A16DP3TXU4EZ7S',
 'A9WO6SOUAHQ8A',
 'A2IFTMORNNXG62',
 'A9WDESXSSYEYT',
 'A16EIA3UQG445T',
 'A3M237ECUXDH31',
 'A3M31G4GJ9066T',
 'A3M36QLDLO1V37',
 'A2IB2YKTQP2QNP',
 'A9UKC8VZM9W0L',
 'A1C3I6ZVMMBB92',
 'A1C39GTHFITRZV',
 'A3M3ICZZA6DR84',
 'A2I9H8CREHXA5E',
 'A3M3MC7577AHRW',
 'A1MW43XT6R4KS8',
 'A3M64IGBQEMMFD',
 'A2I8IBC8OIACOE',
 'A3QMX9JBLBUICS',
 'A1ZUFZLGZ3934Y',
 'A3QTUD5QV77KM3',
 'A3V4827LOG1F0X',
 'A3V5G0BS6X5A6J',
 'A25RRYX3QL61N0',
 'AYCC7GURIXGB8',
 'AYCU74U03VBY5',
 'A21KN4ISHOTD51',
 'A25OKJJ2BW9K90',
 'A25O3WEZ0CA34T',
 'A1J34263XP94K8',
 'A25NTJM1Z0UYGK',
 'A3V6HC7LL9SCQD',
 'A25NOTQ0JT6LAT',
 'A3V71B7C94KEJ8',
 'A3V8VSBDKE65Z7',
 'A25INPT1C5NT8B',
 'A1K5CU1KYI5XGR',
 'A21OFVVU602ODC',
 'A3VBKLUC1O9AM3',
 'A3V5Z382UEG7EI',
 'A25TVH9W5A6IHP',
 'A21JMECLD2N7I2',
 'A17FSRCBSVGSGG',
 'A265TY8TEJ5N8G',
 'A265PCQZA1Y1WF',
 'A265KF0CQ058RZ',
 'A265JUO8W7SL7H',
 'A1K855P1EC348C',
 'A3UX3UDVQ9OHLI',
 'A1K7R1U4QZS3W2',
 'A265B1IZE5RVG6',
 'A21HVTE2TGI9KS',
 'A262XCRSU4FMH7',
 'A262OFS18KH8YO',
 'A261I3W883RWCM',
 'A3UZDQV8BHCD1R',
 'A1K6PIEN2A1YZ8',
 'A2610IV7HXXJ6',
 'A25YW24LG877H2',
 'A17FRWQEYG9X0A',
 'A1J2UNYVO9G9JV',
 'A1K6MCIX5ML9YQ',
 'A5W5BG0K9ZDAB',
 'A61AI6ZVVEO0M',
 'A25F9WKXU3X8BX',
 'A25E8V5JMW43RY',
 'A17IBYDGBOKWGY',
 'A1J70BVQN2L78N',
 'A21T5C3KL41REL',
 'AYOHY9SL13PR6',
 'A21TJVRUHT41X',
 'A1JZD1KC4ECJ2P',
 'A3VJGPF1CMXP12',
 'A24YKXB4LYOAZR',
 'A5Q4NHGUGRZFA',
 'A24YATZK2JF7IR',
 'A5P7STTZE2MJV',
 'A24Y7P9O9LU6TH',
 'A3VK83CL1ZHW2P',
 'A3VKM6UC9W0OTM',
 'A24VQTY2LYNAFT',
 'A1JXRXYVSUAW6I',
 'A3VKQB7H99HIF6',
 'A3VM3Y2EQLSL7H',
 'A1AGTVC5FQT7VE',
 'A5QJ181472UWJ',
 'A252H05TUGHEBV',
 'A3VHZJN0SQ01M0',
 'A3VC35X3OYBP4O',
 'A25DIYZYMAPWCL',
 'A5VHC3BRCZQAS',
 'A25CXZCEN02WO7',
 'A21POM7Z5KO3PD',
 'A25APF7Z53DXSB',
 'A5URUFZXLJI2Q',
 'AYKGGK27FKHG8',
 'A21QLF43FLA9DE',
 'A1K3L3CVDVSKH2',
 'A3VEWKVBH9N5L',
 'A1J460T76TU0T5',
 'A25512V89TWDBJ',
 'A21RZFSC7L21V7',
 'A254SB9BZ5KMUU',
 'A3VEY6S5325K20',
 'A3VF5E3CGBSI5Q',
 'A1K38H4KCZCIIT',
 'A3VFXERTB6B0GB',
 'A21P0KJS5ZKN1R',
 'A21WBA2RH72WYC',
 'A0508779FEO1DUNOSQNX',
 'A12LSO0YA2VLT4',
 'A1KGVDGS4753UJ',
 'A27AR8QJZRIOHP',
 'A1KGLZD07FEHR3',
 'A6F4HDHDTKQEQ',
 'A1KFMFDJIT199V',
 'A279GACYBMSAT0',
 'A278X0N21YYWKE',
 'A216V41DLQV9DC',
 'A3TWWIZ8HSNXZ9',
 'AXTDD995GILVI',
 'A3U16LITWT2PQJ',
 'A217CC8F7N5717',
 'A277S2UN7U5PI3',
 'A3U30FKFTAUPZR',
 'A2771ZD14NJVS',
 'A17CX91YX5TFFR',
 'A276UN19IILK07',
 'A276S7NU0KI9H',
 'A1IZVWAO5SDBLH',
 'A27CK1O95WL8SM',
 'A3TWSBAR05BU1G',
 'AXQNEMI9N0Z2D',
 'AXL13DR8SG43T',
 'A1KHYRYOKP99C9',
 'A212HIFBJC2W9',
 'A27JR52OWDWYX2',
 'A27J8ZGNHN89XR',
 'A213B4636S30CL',
 'A2142HFF1SYV3R',
 'A1KHTR21SMTYMX',
 'AXNBNC7V5I88X',
 'A3TTCDV2J5GRAI',
 'A12OZVVOI5RCNU',
 'A3TUZGQOWGA2C7',
 'A215XT7V6PJGV5',
 'A27DVYENZP6ABB',
 'A1APCGMUVYINAJ',
 'A1APB9ABTNT04V',
 'A12OYN0X2GDUB',
 'A1IZT8R23F819J',
 'A3TWI7Y0KO08QV',
 'A276QNJHOU6FO9',
 'A3UT0CL8YVTGSL',
 'A276IEU4PLTBZQ',
 'A6B5LMF6CWT27',
 'A3UIQ1DG8MOREB',
 'A1KBSRBXYLI83B',
 'A26KACI1TX95E3',
 'A1KB5SQKOW9FV8',
 'A26HGVNQ8V9RGX',
 'A26H9J768DVXT0',
 'A26G4L2U3Z98CL',
 'A21DH44P649EB5',
 'A3UHXL2R1Z1F0V',
 'AY3QEKFB60O9X',
 'A26BZ1JTONRPGB',
 'A26BPNWY3HKNYR',
 'A26BFVZVU268J7',
 'A62YLUD4BHI1Y',
 'A26A2OVCGNIVQ',
 'A3UQXHI88S7XAX',
 'A268FKAUZ7RH7D',
 'A267PALC57LP8A',
 'A1K9NTYL9PSRXJ',
 'A26LRC23C31CTM',
 'A3UGZLCQSOVCVY',
 'A67861C2ZZDHQ',
 'A3U6I9RZRA4AYY',
 'A271VS35SZEVOF',
 'A1J1J0FNZHJYPM',
 'A271N3VANLQQLG',
 'A688WCFR38LDX',
 'A12N5XB3C9ODEV',
 'A26ZFDF2C7NIQ7',
 'A26YY83AQWS0JL',
 'A26YE3F1HWM1KR',
 'AXZCVTROTSSP9',
 'A26Y7PS6415JCF',
 'A219528T3MZ3SZ',
 'A26WG5COTUR9MD',
 'A05306962T0DL4FS2RA7L',
 'A1KD0YU2NXAOVI',
 'A678V8KAX22OT',
 'A21AO8OD439XA8',
 'A26PRB90CRN1T3',
 'A26NTVWYOXC407',
 'A3U46FFN9OP7BL',
 'A1JVZE35LFQ0PF',
 'A1JUWVRHEXUX22',
 'A5MFE0AQAB1IE',
 'A52KI87KEWX39',
 'AZJVIC5P13X3H',
 'A22AGOPQYGHN8J',
 'A2318YEO923PC0',
 'AZKN9KO2ECFFZ',
 'A52K1MRD4C87B',
 'AZLE2XFH3JUNG',
 'A1JDXWQ82RVSYC',
 'A231M5GVQYB9BC',
 'A1JKNXCDZ42K84',
 'A51EAGUKGTONU',
 'A22Z0TTGZE6KHD',
 'AZMY6E8B52L2T',
 'A1JJ2X01P1TTPL',
 'AZN8F9UR5F17N',
 'A22XHWAE9HLVRL',
 'A22BQPEBCPADGH',
 'A22XEPBJDEK8YG',
 'A2308TJAZZMLDR',
 'A22A5CRRL8XKMN',
 'A1A8KY344FDXZB',
 'A23355NW4K0V8M',
 'A23CL1FWTYW6WA',
 'A48AIMNUFCPCD',
 'A239K0NSA8BHKJ',
 'A48WFFX018ZVU',
 'A236E6Y09LWX2J',
 'A1A31FTEQDJULZ',
 'A1JLU71GKXMCL3',
 'A4DLVVK8W2ZVA',
 'A4DMBG1O76C1S',
 'A545W3WII5GCM',
 'A234TEF3JFHNEE',
 'A4EIIO2XXLR61',
 'A1JKVXQLDP1Y5G',
 'AZGWU83KK5HJR',
 'A233HU0KM5YAJ0',
 'AZH9O3UNENISE',
 'A229KK9DZL6J7R',
 'A00700212KB3K0MVESPIY',
 'A1JKVK3MC5VRLU',
 'A22BY7QD5OMJET',
 'A226DOIEG9RDIY',
 'A17PMJZYDJPDQ0',
 'A1JE6LNKII6WZM',
 'AZX1JTTIUYZX4',
 'A22DZVKZ8TVBPB',
 'A22NE96VVS6WXT',
 'AZXP46IB63PU8',
 'A22NB5IEE054MS',
 'A22F95LFUTNPBL',
 'A1A4R41718418D',
 'A4Q7Q1PHFFJ0H',
 'A1A4V0X4A2PFTD',
 'A4QDZKZLZKXRG',
 'A22LQGRG61FDYW',
 'A1JEZWLIOEMI7Z',
 'A22FD5WLFCW033',
 'A4S1P34RBLBVO',
 'A22JT37677YT9X',
 'A1A3PA9LL8DQRG',
 'A4S36RVUN4H24',
 'A4S4AO6X6EY7N',
 'A22M5Q26POVZN',
 'A22NT5D3VX41OA',
 'A22NU0QZBB0PDK',
 'A1A51IAKLHAORR',
 'A22W31M3LHT4AV',
 'A22UGV7ZMGSOJ0',
 'AZR10WSWFD4B5',
 'A22TA00NX63RC7',
 'A22T0TRQT9WE14',
 'A4HI1DDZN54S1',
 'AZS23E3IKSF9D',
 'A4IJBVEONRRPP',
 'A1A6GN5E65NJQX',
 'A4LKXHDQYJTG8',
 'A22QBPOG0A08AB',
 'A1JH5EKCDJPXSH',
 'A1A5YE7K0WHN2T',
 'A22DXDIYXPBVSP',
 'A4N2MORJWLSCP',
 'A22PHKFFVGZ9X6',
 'A12GINZDBMPBOI',
 'AZUPWQFWXZYE9',
 'AZV2AG96CRJ26',
 'AZPQY0IGZD5QL',
 'A473A4T2R38OB',
 'A23EYT9OZXXOJ7',
 'AZBHJDI49LKDK',
 'A3VVUO6B3WR1KG',
 'A3VWGP4KFK5VSM',
 'A21ZE48YPVAE4A',
 'AYYTQM1QEUI6A',
 'A3VYOQI0WY1ICY',
 'A24840XIEH2EE7',
 'A3VZEBBLZU111C',
 'A245U8GCCM4FX3',
 'A21Z4GIHSIOQRT',
 'AYZ4L8A48FSCO',
 'A5DTRTR8UM3V4',
 'A17RFKTUC8LKLH',
 'A220H1HPW0BU20',
 'A244I0L3B89G0B',
 'A1JR6E2RBY18BH',
 'A17QLW95TYSFME',
 'A3WB8ENIBT5WV',
 'AZ1T0IVL0EBRF',
 'A1JB07R59K3ARB',
 'A3VUY5LNTPISLH',
 'A1J9AEEMC4CQ8C',
 'A5ISEDTWYHLDR',
 'A1JUF8HCOHA6UU',
 'A1J8UKH2DY4GH2',
 'A1JUAHVYRZRQJV',
 'A1AG6U022WHXBF',
 'AYT9GJV1F1HWO',
 'A24MUR7JGFFAXF',
 'A1JTUH8W536LMH',
 'A3VSTZHEH4X02S',
 'AYVBGONQ2AVXB',
 'AYVGCYZSG8ERF',
 'AYVLGOWLOORVX',
 'A3VTSPF7JQ80UQ',
 'A24HMHJ163EE20',
 'AYWHCM0TJ4737',
 'A24H7H89DXSYTI',
 'AYWUHB7N8XGZQ',
 'AYX4ABAI4QDJX',
 'A3VU2J7G0U35AU',
 'A24GGAR2UUL06M',
 'A221CPTL0Y71NU',
 'A5AXASLO6LDMH',
 'A1AD8K8JH6KSTQ',
 'AZ2UU2UYXECYX',
 'A225I9V0Y8MBRQ',
 'A1A2OUARTAUEZI',
 'A1ABSMOMA1M0RR',
 'A3Y4SHD9YOVUL',
 'A23LL6RVBJALL',
 'A1JB5FUPKL6MB2',
 'A23KZ0YXN76OSF',
 'A3Z0305EP80ZC',
 'A12IPN4JK4H39P',
 'AZANVKBYIYUJC',
 'A1ABCEHTRLZPKD',
 'A414B9GBG3LWF',
 'A23IU0GXPBOFDC',
 'A1JNEGVVM6PA0U',
 'A22604C1II3OGW',
 'A2265FMBWOG0WM',
 'A1JCGUZB7PX4SA',
 'A43BHE7FOTFFP',
 'A44PLVM8M8MNX',
 'A225CZ3Y2JJT5O',
 'A27LI8T4Y6AG2K',
 'A23Q4B6O6E8GZ9',
 'A3X101EB60MV9',
 'A2407TYT5MCLX9',
 'A222XUSQUPQUD2',
 'A23Z9R8VEYWG3U',
 'A2232N3RH0VU3A',
 ...]

In [109]:
df_cleaned = df[~df.reviewerID.isin(high_rating_user_ids)]
df_cleaned

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1YJEY40YUW4SE,7806397051,Andrea,"[3, 4]",Very oily and creamy. Not at all what I expect...,1,Don't waste your money,1391040000,"01 30, 2014"
1,A60XNB876KYML,7806397051,Jessica H.,"[1, 1]",This palette was a decent price and I was look...,3,OK Palette!,1397779200,"04 18, 2014"
2,A3G6XNM240RMWA,7806397051,Karen,"[0, 1]",The texture of this concealer pallet is fantas...,4,great quality,1378425600,"09 6, 2013"
3,A1PQFP6SAJ6D80,7806397051,Norah,"[2, 2]",I really can't tell what exactly this thing is...,2,Do not work on my face,1386460800,"12 8, 2013"
4,A38FVHZTNQ271F,7806397051,Nova Amor,"[0, 0]","It was a little smaller than I expected, but t...",3,It's okay.,1382140800,"10 19, 2013"
...,...,...,...,...,...,...,...,...,...
198497,A2BLFCOPSMBOZ9,B00LLPT4HI,Dave Edmiston,"[0, 0]",Just a little dab of this shea butter should b...,5,A little dab...,1405468800,"07 16, 2014"
198498,A1UQBFCERIP7VJ,B00LLPT4HI,Margaret Picky,"[0, 0]",This shea butter is completely raw and unrefin...,5,Pure organic raw shea butter,1405296000,"07 14, 2014"
198499,A35Q0RBM3YNQNF,B00LLPT4HI,M. Hill,"[0, 0]",The skin is the body's largest organ and it ab...,5,One Pound Organic Grade A Unrefined Shea Butter,1405468800,"07 16, 2014"
198500,A3LGT6UZL99IW1,B00LLPT4HI,"Richard C. Drew ""Anaal Nathra/Uthe vas Bethod...","[0, 0]",I have very dry elbows and knees. I have a to...,5,This stuff is amazing!,1405382400,"07 15, 2014"
198501,A3UJRNI8UR4871,B00LLPT4HI,"Wulfstan ""wulfstan""","[0, 1]",This is 100% pure Shea Butter. Do not mistake ...,5,"The ""Real Stuff""!",1405987200,"07 22, 2014"

In [111]:
#Testing a few high rating user IDs to see if we succesfully dropped from our cleaned df
df_cleaned[df_cleaned["reviewerID"]== "A3OOIWLW0Y01C2"]

Empty DataFrame
Columns: [reviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixReviewTime, reviewTime]
Index: []

In [113]:
#It worked!
df_cleaned[df_cleaned["reviewerID"]== "A2FM0GJWDCQNFD"]

Empty DataFrame
Columns: [reviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixReviewTime, reviewTime]
Index: []

In [112]:
df[df["reviewerID"]== "A3OOIWLW0Y01C2"]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
58231,A3OOIWLW0Y01C2,B001H9404A,"Amy... ""MoMmYof5""","[0, 0]","My 12 year old loves this eye shadow, its not...",5,Daughters Favorite...,1400716800,"05 22, 2014"
61529,A3OOIWLW0Y01C2,B001M9KX78,"Amy... ""MoMmYof5""","[0, 0]",I ordered this for Christmas for my husband an...,5,Hubby loves!,1401321600,"05 29, 2014"
89804,A3OOIWLW0Y01C2,B003H8180I,"Amy... ""MoMmYof5""","[1, 1]",Gosh I luv this lip stain. Its looks like I ha...,5,ohh myy...,1400889600,"05 24, 2014"
95593,A3OOIWLW0Y01C2,B003UY8WFS,"Amy... ""MoMmYof5""","[0, 0]",Entire makeup collection. I use it everyday. ...,5,I LOVE this..,1400716800,"05 22, 2014"
95964,A3OOIWLW0Y01C2,B003V265QW,"Amy... ""MoMmYof5""","[0, 0]",I ordered this as a Christmas present for all ...,5,Daughters LOVE!,1401321600,"05 29, 2014"
112873,A3OOIWLW0Y01C2,B004OJIZO6,"Amy... ""MoMmYof5""","[1, 1]",Saw and smelled this in the store. Loved it a...,5,My Son...,1370649600,"06 8, 2013"